* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }

body {
  line-height: 1.6; }

input,
button {
  font: inherit; }

.header {
  display: flex;
  align-items: center;
  padding: 2rem 5rem; }
  .header__logo {
    margin-right: auto;
    color: #75bf7a;
    font-size: 6.5rem;
    font-weight: 500; }
  .header__link {
    font-size: 1.7rem;
    text-decoration: none;
    color: #000;
    transition: all 0.2s; }
    .header__link:not(:last-child) {
      margin-right: 2.5rem; }
    .header__link:hover {
      color: #75bf7a; }
  .header__link--primary {
    background-color: #75bf7a;
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2); }
    .header__link--primary:hover {
      color: #fff;
      background-color: #5b945f; }
