.heading-1 {
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1; }

.paragraph {
  color: #9e9da2;
  font-size: 2.3rem; }

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif; }

body {
  line-height: 1.6;
  background-color: #f9f9f9; }

input,
button {
  font: inherit; }

.header {
  display: flex;
  align-items: center;
  padding: 2rem 5rem;
  background-color: #fff; }
  .header__logo {
    margin-right: auto;
    color: #75bf7a;
    font-size: 6.5rem;
    font-weight: 500; }
  .header__link {
    font-size: 1.7rem;
    text-decoration: none;
    color: #000;
    transition: all 0.2s; }
    .header__link:not(:last-child) {
      margin-right: 2.5rem; }
    .header__link:hover {
      color: #75bf7a; }
  .header__link--primary {
    background-color: #75bf7a;
    border-radius: 1rem;
    padding: 1rem 2.5rem;
    color: #fff;
    font-weight: 600;
    font-size: 2.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.2); }
    .header__link--primary:hover {
      color: #fff;
      background-color: #5b945f; }

.hero {
  padding: 5rem 5rem;
  display: grid;
  grid-column-gap: 11rem;
  grid-template-columns: 1fr 1fr; }
  .hero__text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    align-self: end; }
  .hero__heading {
    grid-column: 1 / -1;
    margin-bottom: 2rem; }
  .hero__paragraph {
    grid-column: 1 / -1;
    margin-bottom: 4rem; }
  .hero__graphic {
    max-width: 100%;
    align-self: center;
    justify-self: center; }

.btn {
  display: inline-block;
  background-color: #000;
  outline: none;
  padding: 2rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2.5rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  border-radius: 1rem;
  justify-content: center; }
  .btn__icon {
    margin-right: 1rem; }
