.sign-up {
  background-color: $color-primary;
  padding: 5rem;
  border-radius: $br-big;
  display: flex;
  align-items: center;

  &__message {
    color: $color-white;
    font-size: 2.5rem;
    font-weight: 600;
    margin-right: auto;
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr max-content;
    grid-column-gap: 2rem;
    width: 50%;
  }

  &__phone-input {
    width: 100%;
    font-size: 2rem;
    padding-left: 3rem;
    border-radius: $br-small;
    border: none;
    margin-right: 3rem;
  }
}
