$color-primary: #75bf7a;
$color-primary-dark: #5b945f;

$color-black: #000;
$color-white: #fff;

$color-bg-grey: #f9f9f9;
$color-text-grey: #9e9da2;
$color-grey-dark: rgb(44, 44, 44);

$color-purple-dark: #272042;
$color-purple-light: #8b8ba5;

$side-padding: 5rem;

$br-small: 0.5rem;
$br-big: 2rem;
