.hero {
  padding: $side-padding $side-padding;
  display: grid;
  grid-gap: 11rem;
  grid-template-columns: 1fr 1fr;

  @include respond-to("tablet") {
    grid-template-columns: 1fr;
  }

  @include respond-to("phone") {
    &__btn:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__text-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 5rem;
    align-self: end;

    @include respond-to("tablet") {
      order: 2;
    }

    @include respond-to("phone") {
      grid-template-columns: 1fr;
    }
  }

  &__heading {
    grid-column: 1 / -1;
    margin-bottom: 2rem;

    @include respond-to("tablet") {
      text-align: center;
    }
  }

  &__paragraph {
    grid-column: 1 / -1;
    margin-bottom: 4rem;

    @include respond-to("tablet") {
      text-align: center;
    }
  }

  &__graphic {
    max-width: 100%;
    align-self: center;
    justify-self: center;

    @include respond-to("tablet") {
      order: 1;
      width: 70%;
    }
  }
}
