* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;

  @include respond-to("laptop") {
    font-size: 50%;
  }
}

body {
  line-height: 1.6;
  background-color: $color-bg-grey;
}

input,
button {
  font: inherit;
}
