.container {
  max-width: 200rem;
  margin: 0 auto;
  width: 95%;
}

.mb-sm {
  margin-bottom: 2rem;
}

.mb-md {
  margin-bottom: 4rem;
}

.mb-big {
  margin-bottom: 6rem;
}

.mb-bigger {
  margin-bottom: 8rem;
}

.mb-xl {
  margin-bottom: 16rem;
}
